In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
# create the connection
conn = "mongodb://localhost:27017"
client = MongoClient(conn)

In [3]:
db = client.moviesdb

# if collection already has data drop the collection
db.tmdb_data.drop()

# create or re-create the collection
tmdbColl = db.tmdb_data

In [4]:
dataFile = "TMDB_Cleaned.csv"
tmdb_df = pd.read_csv(dataFile)
tmdb_df.head()

,Unnamed: 0,title,budget,popularity,production_companies,release_date,runtime,revenue,status,vote_average,vote_count,Year
0,0,Avatar,237000000,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,162.0,2787965087,Released,7.2,11800,2009
1,1,Pirates of the Caribbean: At World's End,300000000,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,169.0,961000000,Released,6.9,4500,2007
2,2,Spectre,245000000,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,148.0,880674609,Released,6.3,4466,2015
3,3,The Dark Knight Rises,250000000,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,165.0,1084939099,Released,7.6,9106,2012
4,4,John Carter,260000000,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,132.0,284139100,Released,6.1,2124,2012

In [5]:
# rename col 1 to ID
tmdb_df.rename(columns = {'Unnamed: 0': 'movie_id'}, inplace = True)
tmdb_df.columns

Index(['movie_id', 'title', 'budget', 'popularity', 'production_companies',
       'release_date', 'runtime', 'revenue', 'status', 'vote_average',
       'vote_count', 'Year'],
      dtype='object')

In [6]:
insert_dict = tmdb_df.to_dict(orient = 'records')

In [7]:
len(insert_dict)

3492

In [8]:
insert_res = tmdbColl.insert_many(insert_dict)

In [9]:
insert_res