In [1]:
import pandas as pd
import os

from datetime import datetime as dt

In [2]:
file = "data/tmdb_5000_movies.csv"

In [3]:
df = pd.read_csv(file, low_memory = False)

In [4]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.5+ KB

In [6]:
moviesDF= df[df.release_date >= "1999-01-01"]

In [7]:
# only get records where release_date is not null
moviesDF = moviesDF[~moviesDF.release_date.isnull()]
moviesDF.count()

budget                  3665
genres                  3665
homepage                1591
id                      3665
keywords                3665
original_language       3665
original_title          3665
overview                3662
popularity              3665
production_companies    3665
production_countries    3665
release_date            3665
revenue                 3665
runtime                 3663
spoken_languages        3665
status                  3665
tagline                 2957
title                   3665
vote_average            3665
vote_count              3665
dtype: int64

In [8]:
# extract only required cols
movies_subset = moviesDF[['title','budget','popularity','production_companies','release_date','runtime','revenue',
                          'status','vote_average','vote_count']]
movies_subset.head()

,title,budget,popularity,production_companies,release_date,runtime,revenue,status,vote_average,vote_count
0,Avatar,237000000,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,162.0,2787965087,Released,7.2,11800
1,Pirates of the Caribbean: At World's End,300000000,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,169.0,961000000,Released,6.9,4500
2,Spectre,245000000,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,148.0,880674609,Released,6.3,4466
3,The Dark Knight Rises,250000000,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,165.0,1084939099,Released,7.6,9106
4,John Carter,260000000,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,132.0,284139100,Released,6.1,2124

In [9]:
movies_subset = movies_subset.dropna(how = 'any')
movies_subset.count()

title                   3663
budget                  3663
popularity              3663
production_companies    3663
release_date            3663
runtime                 3663
revenue                 3663
status                  3663
vote_average            3663
vote_count              3663
dtype: int64

In [10]:
movies_subset.isnull().sum()

title                   0
budget                  0
popularity              0
production_companies    0
release_date            0
runtime                 0
revenue                 0
status                  0
vote_average            0
vote_count              0
dtype: int64

In [11]:
movies_noBudget = movies_subset[movies_subset.budget <= 0 ]
movies_noBudget.title.count()

840

In [12]:
movies_noRevenue = movies_subset[movies_subset.revenue <= 0 ]
movies_noRevenue.title.count()

1151

In [13]:
movies_withNoVotes = movies_subset[movies_subset.vote_count <= 0 ]
movies_withNoVotes.title.count()

56

In [14]:
movies_subset.status.unique()

array(['Released', 'Post Production', 'Rumored'], dtype=object)

In [15]:
movies_subset.duplicated().sum()

0

In [16]:
# create Year column
movies_subset['Year'] = movies_subset['release_date'].apply(lambda r: r.split("-")[0])
movies_subset.Year.head()

0    2009
1    2007
2    2015
3    2012
4    2012
Name: Year, dtype: object

In [18]:
# write it to CSV
movies_subset.to_csv("TMDB_Cleaned.csv")